In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [80]:
data_frame = pd.read_csv('final_dataset.csv')
data_frame.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2494,2495,2496,2497,2498,2499,Emotion,Age,Color,Gender
0,0,45,52,69,127,148,111,99,106,106,...,15,13,13,10,10,12,Emotion_Happy,Age_below20,E_White,G_Male
1,1,107,109,107,107,107,111,122,119,124,...,72,66,62,63,64,66,Emotion_Happy,Age_20_30,E_White,G_ Female
2,2,159,163,166,171,149,90,65,64,73,...,215,222,224,224,225,227,Emotion_Happy,Age_20_30,E_Hispanic,G_ Female
3,3,178,161,69,32,49,50,40,40,52,...,252,252,253,252,251,249,Emotion_Happy,Age_20_30,E_White,G_ Female
4,4,117,104,100,119,136,160,169,168,159,...,180,177,153,133,153,149,Emotion_Happy,Age_20_30,E_White,G_ Female
5,5,235,236,235,229,217,195,168,139,109,...,56,61,72,82,89,94,Emotion_Neutral,Age_20_30,E_Asian,G_ Female
6,6,119,117,115,113,108,102,97,91,86,...,47,53,55,56,57,58,Emotion_Neutral,Age_below20,E_White,G_ Female
7,7,80,81,81,81,82,82,83,83,84,...,86,86,85,85,85,85,Emotion_Neutral,Age_20_30,E_White,G_ Female
8,8,163,166,167,170,176,183,191,201,208,...,228,229,229,229,229,229,Emotion_Neutral,Age_20_30,E_Asian,G_ Female
9,9,174,174,175,177,177,176,176,175,175,...,150,138,138,148,159,167,Not_Face,0,0,0

In [81]:
data_frame['Emotion'].value_counts()

Not_Face           138
Emotion_Neutral    127
Emotion_Happy       66
Emotion_Sad         10
Emotion_Angry        7
Age_30_40            1
0                    1
Age_above_50         1
Name: Emotion, dtype: int64

In [82]:
data_frame = data_frame[data_frame['Emotion']!="Age_30_40"]
data_frame['Emotion'].value_counts()

Not_Face           138
Emotion_Neutral    127
Emotion_Happy       66
Emotion_Sad         10
Emotion_Angry        7
0                    1
Age_above_50         1
Name: Emotion, dtype: int64

In [83]:
data_frame = data_frame[data_frame['Emotion']!="Age_above_50"]
data_frame['Emotion'].value_counts()

Not_Face           138
Emotion_Neutral    127
Emotion_Happy       66
Emotion_Sad         10
Emotion_Angry        7
0                    1
Name: Emotion, dtype: int64

In [85]:
data_frame = data_frame[data_frame['Emotion']!="0"]
data_frame['Emotion'].value_counts()

Not_Face           138
Emotion_Neutral    127
Emotion_Happy       66
Emotion_Sad         10
Emotion_Angry        7
Name: Emotion, dtype: int64

In [86]:
data_frame = data_frame[data_frame['Emotion']!="Not_Face"]
data_frame['Emotion'].value_counts()

Emotion_Neutral    127
Emotion_Happy       66
Emotion_Sad         10
Emotion_Angry        7
Name: Emotion, dtype: int64

In [87]:
X = data_frame.iloc[:,1:2501]
y = data_frame['Emotion']

In [88]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,45,52,69,127,148,111,99,106,106,136,...,15,15,16,16,15,13,13,10,10,12
1,107,109,107,107,107,111,122,119,124,76,...,142,122,158,135,72,66,62,63,64,66
2,159,163,166,171,149,90,65,64,73,70,...,244,255,212,200,215,222,224,224,225,227
3,178,161,69,32,49,50,40,40,52,40,...,252,251,252,252,252,252,253,252,251,249
4,117,104,100,119,136,160,169,168,159,167,...,162,150,113,145,180,177,153,133,153,149

In [89]:
y.head()

0    Emotion_Happy
1    Emotion_Happy
2    Emotion_Happy
3    Emotion_Happy
4    Emotion_Happy
Name: Emotion, dtype: object

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [92]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
y_train = lb.fit_transform(y_train)
y_test = lb.transform(y_test)

In [93]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [94]:
y_train

array([[0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 0, 1],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [1, 0, 0, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 0, 1, 0]])

In [95]:
from keras.layers import Dense
from keras.layers import MaxPooling2D
from keras.layers import Convolution2D
from keras.layers import Flatten
from keras.models import Sequential

In [96]:
model = Sequential()
model.add(Convolution2D(30,3, input_shape = (50,50,1), activation = 'relu', padding = 'same'))
model.add(MaxPooling2D(pool_size= (2,2)))
model.add(Convolution2D(40,3, activation = 'relu', padding = 'same'))
model.add(Convolution2D(45,3, activation = 'relu', padding = 'same'))
model.add(MaxPooling2D(pool_size= (2,2))) 
model.add(Convolution2D(50,3, activation = 'relu', padding = 'same'))
model.add(Flatten())
model.add(Dense(output_dim = 128, activation = 'relu'))
model.add(Dense(output_dim = 4, activation = 'softmax'))

C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=128)`
  if __name__ == '__main__':
C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=4)`
  # Remove the CWD from sys.path while we load stuff.

In [97]:
model.compile(optimizer='adam', loss = 'categorical_crossentropy', metrics  = ['accuracy'])

In [98]:
trainX = X_train.reshape(X_train.shape[0],50, 50, 1).astype( 'float32' )
testX = X_test.reshape(X_test.shape[0],50, 50, 1).astype( 'float32' )

In [99]:
model.fit(trainX, y_train, batch_size=50, epochs = 10)

Epoch 1/10
140/140 [==============================] - 4s 31ms/step - loss: 1.2931 - acc: 0.4357
Epoch 2/10
140/140 [==============================] - 2s 13ms/step - loss: 1.0182 - acc: 0.3643
Epoch 3/10
140/140 [==============================] - 2s 13ms/step - loss: 0.9855 - acc: 0.4786
Epoch 4/10
140/140 [==============================] - 2s 13ms/step - loss: 0.9025 - acc: 0.6214
Epoch 5/10
140/140 [==============================] - 2s 14ms/step - loss: 0.8513 - acc: 0.6357
Epoch 6/10
140/140 [==============================] - 2s 13ms/step - loss: 0.8102 - acc: 0.6429
Epoch 7/10
140/140 [==============================] - 2s 13ms/step - loss: 0.7630 - acc: 0.6929
Epoch 8/10
140/140 [==============================] - 2s 13ms/step - loss: 0.7248 - acc: 0.7000
Epoch 9/10
140/140 [==============================] - 2s 13ms/step - loss: 0.6786 - acc: 0.7071
Epoch 10/10
140/140 [==============================] - 2s 14ms/step - loss: 0.6097 - acc: 0.7500

In [100]:
score = model.evaluate(testX, y_test, batch_size=10)

70/70 [==============================] - 1s 12ms/step

In [101]:
score

[0.8664486067635673, 0.6000000025544848]

In [102]:

model_json = model.to_json()
with open("emotions.json", "w") as json_file:
    json_file.write(model_json)
    
#serialise weights as HDF5

model.save_weights("emotions.h5")
print("Saved")

Saved