### Import Libraries

In [1]:
import numpy as np
import pandas as pd

### Read Dataset

In [2]:
data_frame = pd.read_csv('final_dataset.csv')
data_frame.head(10)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,2494,2495,2496,2497,2498,2499,Emotion,Age,Color,Gender
0,0,45,52,69,127,148,111,99,106,106,...,15,13,13,10,10,12,Emotion_Happy,Age_below20,E_White,G_Male
1,1,107,109,107,107,107,111,122,119,124,...,72,66,62,63,64,66,Emotion_Happy,Age_20_30,E_White,G_ Female
2,2,159,163,166,171,149,90,65,64,73,...,215,222,224,224,225,227,Emotion_Happy,Age_20_30,E_Hispanic,G_ Female
3,3,178,161,69,32,49,50,40,40,52,...,252,252,253,252,251,249,Emotion_Happy,Age_20_30,E_White,G_ Female
4,4,117,104,100,119,136,160,169,168,159,...,180,177,153,133,153,149,Emotion_Happy,Age_20_30,E_White,G_ Female
5,5,235,236,235,229,217,195,168,139,109,...,56,61,72,82,89,94,Emotion_Neutral,Age_20_30,E_Asian,G_ Female
6,6,119,117,115,113,108,102,97,91,86,...,47,53,55,56,57,58,Emotion_Neutral,Age_below20,E_White,G_ Female
7,7,80,81,81,81,82,82,83,83,84,...,86,86,85,85,85,85,Emotion_Neutral,Age_20_30,E_White,G_ Female
8,8,163,166,167,170,176,183,191,201,208,...,228,229,229,229,229,229,Emotion_Neutral,Age_20_30,E_Asian,G_ Female
9,9,174,174,175,177,177,176,176,175,175,...,150,138,138,148,159,167,Not_Face,0,0,0

### Data Cleaning

In [3]:
data_frame['Color'].value_counts()

0              150
E_White         99
E_Indian        49
E_Black         19
E_Asian         15
E_Hispanic       7
G_ Female        6
G_Male           3
E_Arab           1
Age_30_40        1
Age_below20      1
Name: Color, dtype: int64

In [4]:
data_frame = data_frame[data_frame['Color']!="Age_30_40"]
data_frame['Color'].value_counts()

0              150
E_White         99
E_Indian        49
E_Black         19
E_Asian         15
E_Hispanic       7
G_ Female        6
G_Male           3
E_Arab           1
Age_below20      1
Name: Color, dtype: int64

In [5]:
data_frame = data_frame[data_frame['Color']!="Age_below20"]
data_frame['Color'].value_counts()

0             150
E_White        99
E_Indian       49
E_Black        19
E_Asian        15
E_Hispanic      7
G_ Female       6
G_Male          3
E_Arab          1
Name: Color, dtype: int64

In [6]:
data_frame = data_frame[data_frame['Color']!="0"]
data_frame['Color'].value_counts()

E_White       99
E_Indian      49
E_Black       19
E_Asian       15
E_Hispanic     7
G_ Female      6
G_Male         3
E_Arab         1
Name: Color, dtype: int64

In [7]:
data_frame = data_frame[data_frame['Color']!="G_Male"]
data_frame['Color'].value_counts()

E_White       99
E_Indian      49
E_Black       19
E_Asian       15
E_Hispanic     7
G_ Female      6
E_Arab         1
Name: Color, dtype: int64

In [8]:
data_frame = data_frame[data_frame['Color']!="G_ Female"]
data_frame['Color'].value_counts()

E_White       99
E_Indian      49
E_Black       19
E_Asian       15
E_Hispanic     7
E_Arab         1
Name: Color, dtype: int64

In [9]:
X = data_frame.iloc[:,1:2501]
y = data_frame['Color']

In [10]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
0,45,52,69,127,148,111,99,106,106,136,...,15,15,16,16,15,13,13,10,10,12
1,107,109,107,107,107,111,122,119,124,76,...,142,122,158,135,72,66,62,63,64,66
2,159,163,166,171,149,90,65,64,73,70,...,244,255,212,200,215,222,224,224,225,227
3,178,161,69,32,49,50,40,40,52,40,...,252,251,252,252,252,252,253,252,251,249
4,117,104,100,119,136,160,169,168,159,167,...,162,150,113,145,180,177,153,133,153,149

In [11]:
y.head()

0       E_White
1       E_White
2    E_Hispanic
3       E_White
4       E_White
Name: Color, dtype: object

### Data Preprocessing

In [15]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer()
y_train = lb.fit_transform(y)

In [16]:
y_train

array([[0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       ...,
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1]])

In [17]:
y_train.shape

(190, 6)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X)

### Model Building

In [19]:
from keras.layers import Dense
from keras.layers import MaxPooling2D
from keras.layers import Convolution2D
from keras.layers import Flatten
from keras.models import Sequential

Using TensorFlow backend.

In [20]:
model = Sequential()
model.add(Convolution2D(30,3, input_shape = (50,50,1), activation = 'relu', padding = 'same'))
model.add(MaxPooling2D(pool_size= (2,2)))
model.add(Convolution2D(40,3, activation = 'relu', padding = 'same'))
model.add(Convolution2D(45,3, activation = 'relu', padding = 'same'))
model.add(MaxPooling2D(pool_size= (2,2))) 
model.add(Convolution2D(50,3, activation = 'relu', padding = 'same'))
model.add(Flatten())
model.add(Dense(output_dim = 128, activation = 'relu'))
model.add(Dense(output_dim = 6, activation = 'softmax'))

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=128)`
  if __name__ == '__main__':
C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\ipykernel_launcher.py:10: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=6)`
  # Remove the CWD from sys.path while we load stuff.

In [21]:
model.compile(optimizer='adam', loss = 'categorical_crossentropy', metrics  = ['accuracy'])

In [22]:
trainX = X_train.reshape(X_train.shape[0],50, 50, 1).astype( 'float32' )

### Training the Model

In [23]:
model.fit(trainX, y_train, batch_size=10, epochs = 10)

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/10
190/190 [==============================] - 4s 21ms/step - loss: 1.5102 - acc: 0.4842
Epoch 2/10
190/190 [==============================] - 3s 14ms/step - loss: 1.2978 - acc: 0.5263
Epoch 3/10
190/190 [==============================] - 3s 13ms/step - loss: 1.2756 - acc: 0.5053
Epoch 4/10
190/190 [==============================] - 3s 14ms/step - loss: 1.1923 - acc: 0.5263
Epoch 5/10
190/190 [==============================] - 3s 14ms/step - loss: 1.1015 - acc: 0.5947
Epoch 6/10
190/190 [==============================] - 3s 14ms/step - loss: 0.9086 - acc: 0.6158
Epoch 7/10
190/190 [==============================] - 3s 14ms/step - loss: 0.7386 - acc: 0.7053
Epoch 8/10
190/190 [==============================] - 3s 14ms/step - loss: 0.4302 - acc: 0.8579
Epoch 9/10
190/190 [==============================] - 3s 14ms/step - loss: 0.2102 - acc: 0.9316
Epoch 10/10
190/190 [==============================] - 3s 14ms/step - loss: 0.1682 - acc: 0.9684

### Save weights

In [24]:
model_json = model.to_json()
with open("race.json", "w") as json_file:
    json_file.write(model_json)
    
#serialise weights as HDF5

model.save_weights("race.h5")
print("Saved")

Saved